body {
	background-color: #F78E69;
	color: #fff;
	margin: 0;
}

.no-pad {
	padding: 0;
}

.pink-border {
	border-bottom: 24px solid #F78E69;
}

#header {
	padding: 60px 43px 50px;
}

.title {
	text-align: right;
	font-size: 60px;
	font-family: 'Love Ya Like A Sister', cursive;
	padding: 0 0 20px;
}

.slogan {
	text-align: right;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

#principal {
	height: 460px;
	background-image: url(../img/uno.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#about {
	background-color: #ABE188;
	text-align: center;
	padding: 45px;
}

.about-pandas {
	height: auto;
	width: 596px;
	background-color: #F78E69;
	float: none;
	display: inline-block;
	padding: 45px 30px;
}

.subtitle {
	font-family: 'Love Ya Like A Sister', cursive;
	text-align: center;
	padding-bottom: 30px;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: justify;
	font-size: 17px;
}

.about-img {
	background-image: url(../img/dos.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 680px;
}

.second {
	text-align: center;
}

.frame {
	border: 10px solid #fff;
}

#pictures {
	background-color: #ABE188;
	padding: 80px 0 90px;
}

.panda-pic {
	margin-right: 50px;
}

.pictures:first-child {
	text-align: right;
}

.last-img {
	background-image: url(../img/tres.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 680px;
}

footer {
	text-align: right;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 10px 10px 0;
}

