body {
	background-color: #FF8A80;
}

header {
	height: 15em;
}

.mar-top {
	margin-top: 20px;
}

#main {
	background-image: url(../img/uno.jpg);
	height: 30em;
}

#about {
	height: auto;
}

.card {
	margin-top: 3.75em;
	margin-bottom: 3.75em;
}

#main, #cover2, #cover3 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#cover2, #cover3 {
	background-image: url(../img/dos.jpg);
	height: 42.5em;
}

#pictures {
	height: auto;
}

.subtitle {
	padding-top: 1em;
	padding-bottom: 0.7em;
}

.white-border {
	border: 10px solid #fff;
}

.panda-pic {
	margin-bottom: 3.75em; 
}

#cover3 {
	background-image: url(../img/tres.jpg);
	height: 42.5em;
}